# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.script.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\game\my_game\Assets\script\.idea\.idea.script.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
